/* [0] */
@font-face {
	font-family:samsungone;
	font-style:normal;
	font-weight:400;
	src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.woff2') format('woff2')
}
